**/node_modules
node_modules
**/.next
**/out
**/dist
**/.turbo
.git
.github
**/.expo
apps/mobile/ios
apps/mobile/android
**/*.log
.DS_Store
**/.env
**/.env.local
env/*.local
**/coverage
**/*.tsbuildinfo
.vscode
.idea
